
@import "base/variables";
@import "base/normalize";
@import "base/syntax";
@import "base/general";
@import "base/helpers";

@import "pages/home-blog-projects";
@import "pages/page";
@import "pages/post";
@import "pages/tags";

@import "components/author";
@import "components/disqus";
@import "components/footer";
@import "components/header";
@import "components/nav";
@import "components/others";
@import "components/pagination";
@import "components/related";
@import "components/share";
@import "components/side-by-side";
@import "components/social-links";
@import "components/spoiler";

@font-face {
    font-family: 'GodoM';
    src: url('../../assets/font/GodoM.ttf') format( 'truetype');
}
@font-face {
    font-family: 'GodoB';
    src: url('../../assets/font/GodoB.ttf') format( 'truetype');
}
@font-face {
    font-family: 'godoRoundedL';
    src: url('../../assets/font/godoRounded L.ttf') format( 'truetype');
}
@font-face {
    font-family: 'godoRoundedR';
    src: url('../../assets/font/godoRounded R.ttf') format( 'truetype');
}
@font-face {
    font-family: 'godoMaum';
    src: url('../../assets/font/godoMaum.ttf') format( 'truetype');
}
@font-face {
    font-family: 'IropkeBatangM';
    src: url('../../assets/font/IropkeBatangM.ttf') format( 'truetype');
}
@font-face {
    font-family: 'NanumSquareR';
    src: url('../../assets/font/NanumSquareR.ttf') format( 'truetype');
}
